---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { formatBlogPosts } from "../scripts/utils";

const allPosts = await Astro.glob("../pages/posts/*.md");
const formattedPosts = formatBlogPosts(allPosts, {
  limit: 1,
});
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      formattedPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
