---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="About">
  <main>
    <section class="hero medium-margin-top">
      <div class="container">
        <div class="row">
          <div class="column-100">
            <h1 class="text-color-primary">Hi, I'm Name</h1>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="column-100">
            <div class="small-margin-top">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>

            <p class="large-margin-top text-color-secondary">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit amet
              recusandae distinctio asperiores fuga sit tempora debitis,
              cupiditate quisquam impedit non. Eligendi minus vero recusandae
              consequuntur inventore deleniti provident corporis.
              Exercitationem, aperiam officia veritatis quod porro optio facilis
              corporis ullam. Exercitationem quibusdam facilis quae eveniet
              temporibus consectetur est quo quas, ratione dignissimos delectus
              deleniti sed, reiciendis, iusto perspiciatis iure omnis! Culpa
              modi cupiditate enim quas harum asperiores saepe soluta possimus
              maiores ducimus ex eum, laboriosam cumque nisi corrupti dolorum
              molestias, commodi optio, magnam ipsum vero officiis repudiandae
              tempora. In, odio.
            </p>

            <p class="large-margin-top">
              What i do or to be more exact what i try to do.
            </p>

            <div class="container">
              <div>
                <span>filler</span>
              </div>
            </div>

            <h2 class="large-margin-top">More about me</h2>

            <p class="medium-margin-top">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis
              facere non ad voluptas corrupti odio, voluptatum at vel dolorum
              cum! Ipsa modi excepturi commodi sunt mollitia ipsum repudiandae
              dolor maxime.
            </p>

            <p class="medium-margin-top">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis
              facere non ad voluptas corrupti odio, voluptatum at vel dolorum
              cum! Ipsa modi excepturi commodi sunt mollitia ipsum repudiandae
              dolor maxime.
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
