---
import Navigation from "./BlogNavigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav>
    <div class="container">
      <div class="row">
        <div class="column-100 header-container">
          <div class="main-header">
            <Navigation />
            <ThemeIcon />
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
