---
import Social from "./Social.astro";
---

<footer>
  <Social platform="twitter" username="AsianZesus" />
  <Social platform="github" username="AsianZesus" />
  <!-- <Social platform="" username="AsianZesus" /> -->
  <div class="container">
    <div>
      <p>Thank you for stopping by.</p>
    </div>
    <div>
      <p>You could be anywhere</p>
      <div>
        <p>but you are here, and it is now</p>
        <p id="localeTime"></p>
      </div>
    </div>
  </div>
</footer>