---
import "../styles/global.css";
import "./Navigation.astro";
---

<div class="nav-links">
  <a href="/">read.cv</a>
  <!-- https://read.cv/awal -->
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
</div>
